{% extends '::base.html.twig' %}

{% block breadcrumb %}
	<ul>
			<li><a href="#">Home</a></li>
			<li>Shopping cart</li>
	</ul>
{% endblock %}

{% block body %}

<div class="notification"><i class="fa fa-check"></i> The article was successfully added to your shopping cart.</div>

<table>
	<thead>
		<tr>
			<th>Product Name</th>
			<th></th>
			<th>Unit Price</th>
			<th>Qty</th>
			<th>Subtotal</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for line in cart %}
			{% set total = line.Quantity * line.Product.Price %}
			<tr>
				<td><img src="http://placekitten.com/68/88" alt="item picture" /> {{ line.Product.Name }}</td>
				<td>Edit</td>
				<td><span class="red bold">${{ line.Product.Price }}</span></td>
				<td><input type="text" class="cart_quantity" value="{{ line.Quantity }}" size="3" /></td>
				<td><span class="red bold">$  {{ total }}</span></td>
				<td><span class="red bold">x</span></td>
			</tr>
			{% else %}
			<tr>
				<td colspan="6">Il y a rien ici t'entends ?</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<div class="flex_space">
	<a class="btn black" href="{{ path('checkout') }}">Continue shopping</a><button class="btn" href="{{ path('checkout') }}">Checkout</button>
</div>
{% endblock %}
